<% provide(:title, 'О проекте')%>
<div class="center hero-unit">
<h1>О проекте</h1>
<p>
	Добрый день! Вас приветствует Kulin-riks team. Команда состоит из профессионалов своего дела: Мальцев Сергей, Алексей Чекашкин, Дмитрий Обухов и Сергей Пеньков. По вопросам сотрудничества обращаться на qnoustr@gmail.com. 
</p>
<!--'http://v1.popcornnews.ru/upload/_500_600_80_NruqBY.jpg
<%=image_tag('horse.jpg', alt: "Я на коне")%> -->
</div>

