<% provide(:title, 'Главная страница') %>
<!--различные версии Home страницы в зависимости от статуса посетителя-->
   <div class="center hero-unit">
    <h1>Кулинарикс!</h1>
    <h2>
      Добро пожаловать!
      На Кулинариксе вы можете найти вкусные кулинарные изделия, а также мастеров которые смогут приготовить их вам!
    </h2>
  </div>

  <div class="row">
  <!--вывод кратного профиля пользователя -->
    <aside class="span4">
    <!--ленты объявлений -->
    <div class="span8">
      <h3>Последние объявления</h3>
      <%= render 'shared/feed_all'%>
    </div>
  </div>
