<%= form_for(@adt) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :about, placeholder: "Заполните подробно ваше объявление: опишите что вы хотите заказать или реализовать,  укажите контактные данные..." %>
  </div>
  <%= f.submit "Отправить", class: "btn btn-large btn-primary" %>
<% end %>

